docs/n8n-halotrack-volume-alert.json
{
  "name": "HaloTrack — Volume Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "halotrack-alerts",
        "responseMode": "immediately",
        "options": {}
      },
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [60, 300],
      "webhookId": "halotrack-alerts-v1"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────────\n// HaloTrack alert filter & formatter\n//\n// Receives:\n//   alerts[]  — pre-computed alerts from /api/cron/volume-alert\n//   timestamp — ISO string of when the cron ran\n//\n// Applies:\n//   1. Smart zero_leads threshold — only CRITICAL if avg ≥ 1 lead/6h.\n//      Below that, zero in a 6h window is statistically normal for low-volume\n//      sites, so we downgrade to WARNING (or silence if avg is very low).\n//   2. Formats a Telegram-ready Markdown message grouped by severity.\n// ─────────────────────────────────────────────────────────────────────────────\n\nconst { alerts = [], timestamp } = $input.first().json;\n\n// Sites with avg below this threshold won't get a CRITICAL zero_leads alert —\n// for them, having 0 leads in a 6h window is a normal probability event.\n// At avg=1.0, every window should contain at least one lead.\n// At avg=0.5, ~60% of windows will naturally have zero (Poisson distribution).\nconst CRITICAL_ZERO_MIN_AVG = 1.0;\n\n// Sites with avg below this won't even get a WARNING for zero leads —\n// e.g. a site with avg 0.1/6h (1 lead every 2.5 days) has zero 90% of windows.\nconst WARN_ZERO_MIN_AVG = 0.3;\n\n// Process and reclassify alerts\nconst processed = alerts.map(alert => {\n  if (alert.type === 'zero_leads') {\n    const avg = alert.historical_avg ?? 0;\n\n    if (avg < WARN_ZERO_MIN_AVG) {\n      // So low-volume that zero is the norm — suppress entirely\n      return null;\n    }\n\n    if (avg < CRITICAL_ZERO_MIN_AVG) {\n      // Statistically possible to have zero — downgrade to warning\n      const pct = avg > 0 ? Math.round((0 / avg) * 100) : 0;\n      return {\n        ...alert,\n        severity: 'warning',\n        message: `0 leads in last 6h — avg is ${avg}/6h (low baseline, may be normal)`,\n      };\n    }\n  }\n\n  return alert;\n}).filter(Boolean); // remove nulls (suppressed alerts)\n\nconst critical = processed.filter(a => a.severity === 'critical');\nconst warnings  = processed.filter(a => a.severity === 'warning');\nconst hasAlerts = processed.length > 0;\n\nif (!hasAlerts) {\n  return [{ json: { hasAlerts: false, message: '', criticalCount: 0, warningCount: 0 } }];\n}\n\n// Format timestamp in Prague timezone\nconst date = new Date(timestamp);\nconst dateStr = date.toLocaleString('cs-CZ', {\n  timeZone: 'Europe/Prague',\n  day: '2-digit', month: '2-digit', year: 'numeric',\n  hour: '2-digit', minute: '2-digit',\n});\n\n// Count distinct affected sites\nconst affectedSites = new Set(processed.map(a => a.client_id)).size;\nconst totalSites    = new Set(alerts.map(a => a.client_id)).size;\n\nconst lines = [];\nlines.push(`📊 *HaloTrack Signal Alert*`);\nlines.push(`_${dateStr} · ${affectedSites}/${totalSites} sites affected_`);\nlines.push('');\n\nif (critical.length > 0) {\n  lines.push(`🔴 *CRITICAL (${critical.length})*`);\n  for (const a of critical) {\n    // Show deviation from baseline if available\n    let extra = '';\n    if (a.historical_avg != null && a.historical_avg > 0) {\n      const deviation = a.current != null\n        ? Math.round(((a.current - a.historical_avg) / a.historical_avg) * 100)\n        : -100;\n      extra = ` _(${deviation > 0 ? '+' : ''}${deviation}% vs baseline)_`;\n    }\n    lines.push(`• *${a.client}*: ${a.message}${extra}`);\n  }\n  lines.push('');\n}\n\nif (warnings.length > 0) {\n  lines.push(`🟡 *WARNING (${warnings.length})*`);\n  for (const a of warnings) {\n    let extra = '';\n    if (a.historical_avg != null && a.historical_avg > 0 && a.current != null) {\n      const deviation = Math.round(((a.current - a.historical_avg) / a.historical_avg) * 100);\n      extra = ` _(${deviation > 0 ? '+' : ''}${deviation}% vs baseline)_`;\n    } else if (a.rate != null) {\n      extra = ` _(${Math.round(a.rate * 100)}% failure rate)_`;\n    }\n    lines.push(`• *${a.client}*: ${a.message}${extra}`);\n  }\n}\n\nreturn [{\n  json: {\n    hasAlerts,\n    criticalCount: critical.length,\n    warningCount: warnings.length,\n    affectedSites,\n    message: lines.join('\\n'),\n  }\n}];\n"
      },
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d002",
      "name": "Filter & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-alerts-cond",
              "leftValue": "={{ $json.hasAlerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d003",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d004",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [780, 180],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Format": {
      "main": [
        [
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alerts?": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
